body {
    font-family: 'Arial', sans-serif;
}

#wrapper {
    display: flex;
    min-height: 100vh;
}

#sidebar-wrapper {
    width: 250px;
    background-color: #da784d;
    color: white;
    transition: all 0.3s ease;
}

    #sidebar-wrapper .list-group-item {
        background-color: #da784d;
        color: white;
        border: none;
    }

        #sidebar-wrapper .list-group-item:hover {
            background-color: #bf663b;
        }

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

#menu-toggle {
    background-color: #da784d;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

    #menu-toggle:hover {
        background-color: #bf663b;
    }

@media (max-width: 768px) {
    #sidebar-wrapper {
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        z-index: 1000;
        transition: all 0.3s ease;
    }

    #wrapper.toggled #sidebar-wrapper {
        left: 0;
    }

    #page-content-wrapper {
        margin-left: 0;
    }

    #menu-toggle {
        display: inline-block;
    }
}
